a {
    color: black;
}

.here {
    color: grey;
}

.kahuku, .hauula {
    width: 900px;
}



body {
    background-image: url('beachback.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    font-family:"Papyrus",cursive ;
    font-size: 30px;
}
