body{
    font-family: 'Courier New', Courier, monospace;

}
header{
    background-color: aqua;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 90, 255);
}

.container{
    display: flex;
    justify-content: space-between;
}
.card {
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 10px;
    padding: 10px;
    border: thin solid #666;
    box-shadow: 3px 3px 3px rgba(40, 40, 40, 0.5);
    width: 300px;
    
}

.card figure {
    margin: 0;
}
.card img {
    width: 100%;
}

@media print {
    nav{
        display: none;
    }
    h1 {
        text-align: center;
    }
}